# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist
coverage

# Env
.env
.env.local
.env.production.local
.env.development.local

# Prisma / SQLite
prisma/dev.db
prisma/dev.db-journal

# IDE / tooling
.DS_Store
.vscode
.idea
.cursor

